<div class="container features clearfix">
        <div class="col-lg-3">
          <img alt="consumers" class="ico" src="img/ico1.png" width="56" height="62">
          <h4>Easy Subscription</h4>
          <p>Customers can book online 24/7—wherever they are—and select the service, staff member, and time that works for them.</p>
        </div>
        <div class="col-lg-3">
          <img alt="consumers" class="ico" src="img/ico1.png" width="56" height="62">
          <h4>12 World-Class Beers</h4>
          <p>Customers can book online 24/7—wherever they are—and select the service, staff member, and time that works for them.</p>
        </div>
        <div class="col-lg-3">
          <img alt="consumers" class="ico" src="img/ico1.png" width="56" height="62">
          <h4>Drink Together</h4>
          <p>Customers can book online 24/7—wherever they are—and select the service, staff member, and time that works for them.</p>
        </div>
        <div class="col-lg-3">
          <img alt="consumers" class="ico" src="img/ico1.png" width="56" height="62">
          <h4>Fast Delivery</h4>
          <p>Customers can book online 24/7—wherever they are—and select the service, staff member, and time that works for them.</p>
        </div>
</div>